@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 223 57% 16%;
    --foreground: 0 0% 98%;
    --card: 223 56% 22%;
    --card-foreground: 0 0% 98%;
    --popover: 223 56% 22%;
    --popover-foreground: 0 0% 98%;
    --primary: 33 100% 50%;
    --primary-foreground: 223 57% 10%;
    --secondary: 223 56% 22%;
    --secondary-foreground: 0 0% 98%;
    --muted: 223 56% 25%;
    --muted-foreground: 0 0% 75%;
    --accent: 33 100% 50%;
    --accent-foreground: 223 57% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 223 56% 30%;
    --input: 223 56% 30%;
    --ring: 33 100% 50%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 223 57% 16%;
    --foreground: 0 0% 98%;
    --card: 223 56% 22%;
    --card-foreground: 0 0% 98%;
    --popover: 223 56% 22%;
    --popover-foreground: 0 0% 98%;
    --primary: 33 100% 50%;
    --primary-foreground: 223 57% 10%;
    --secondary: 223 56% 22%;
    --secondary-foreground: 0 0% 98%;
    --muted: 223 56% 25%;
    --muted-foreground: 0 0% 75%;
    --accent: 33 100% 50%;
    --accent-foreground: 223 57% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 223 56% 30%;
    --input: 223 56% 30%;
    --ring: 33 100% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
